<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width , initial-scale=1">       
        <!-- CSS -->

                
        <!-- JS -->
 
        <title>SmartPas app</title>
</head>

<body>
<div>
    {include banner}
    
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    <nav>
        <div>
            <div>
                <a n:href="Homepage:">-S M A R T  P A S kontrola dochadzky-</a>
            </div>
            {if $user->loggedIn}
            <ul>
                <li {ifCurrent Homepage:}class="active"{/ifCurrent}><a n:href="Homepage:">Domov</a></li>
            </ul>
            <ul>
                <li {ifCurrent Sign:out}class="active"{/ifCurrent}><a n:href="Sign:out">Odhlasit</a></li> 
                <li {ifCurrent User:default}class="active"{/ifCurrent}><a n:href="User:default">{$meno_uzivatela}</a></li> 
            </ul>
            {else}
            <ul>
                <li><a n:href="Sign:in">Prihlasit</a></li>                
            </ul>
            {/if}
        </div>
    </nav>
    
    {include title}
    {include content}
</body>
</html>
