{* This is the welcome page, you can delete it *}
{block banner}
{/block}

{block title}
    <h1>Welcome</h1>
{/block}

{block content}

<div>
    
{if $user->loggedIn} {*uz sme vnutri, len pre prihlasenych *}
    
<div class="container">
    <div class="panel panel-default"> 
    <div class="panel-body">
    {form prehladForm}
        <div class="row required">
            <div class="col-xs-1 required"> {label datum_od /}</div>
            <div class="col-sm-4 input-group date required" id="form-date-od" >
                        {input datum_od}
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="col-xs-1 required"> {label datum_do /}</div>
            <div class="col-sm-4 input-group date required" id ="form-date-do">
                        {input datum_do}
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div> 
                             
        <div>
            <div class="col-sm-1"> {input send }</div>
            
        </div>
    {/form}
    </div>
    </div>
</div>   

    
{if isset($meno_osoby) }    
    <div>
        <h3>{$meno_osoby}</h3>
        
        {ifset $posts_zaokruhlena_dochadzka  }
        <div>    
            Celkovy cas: {$celkovy_cas_dochadzky["hodiny"]} : {$celkovy_cas_dochadzky["minuty"]}
        </div>
        <div>
            Zarobene: {$celkova_suma_zarobku}€ (hodinova sadzba je: {$hodinova_taxa})
        </div>
        <table>
            <tr>
                <th>Prichod</th>
                <th>Odchod</th>
                <th>Cas v praci</th>
            </tr>
        
        {foreach $posts_zaokruhlena_dochadzka as $index => $post2}
            <tr>
                <td>
                    {$post2['prichod']|date:"d. m. Y G:i:s"}
                    {if $vypisovat_realne_casy}
                        <br>
                        ( {$posts_raw_dochadzka[$index]['prichod']|date:"G:i:s"} )
                    {/if}
                </td>
                <td>
                    {$post2['odchod']|date:"d. m. Y G:i:s"}
                    {if $vypisovat_realne_casy}
                        <br>
                        ( {$posts_raw_dochadzka[$index]['odchod']|date:"G:i:s"} )
                    {/if}
                </td>
                <td>
                    {$post2['cas_v_praci']|date:"%h:%I"} 
                </td>
            </tr>
        {/foreach}
        </table>
        {else}
        <div>Ziadna dochadzka</div>
        {/ifset}
        
     </div>
{/if}

<script type="text/javascript">
    $('#form-date-od').datetimepicker({
        minView: 2,
        autoclose: 1,
        todayBtn:  1,
        useCurrent: true,
        format: "dd.mm.yyyy"
    });
    $('#form-date-do').datetimepicker({
        minView: 2,
        autoclose: 1,
        todayBtn:  1,
        format: "dd.mm.yyyy"
    });
</script> 


{/if} {*if user is logged in*}    
    
</div>

{/block}