{* Latte template *}
{block banner}
{/block}

{block title}
    <h1>Uzivatel</h1>
{/block}


{block content}
{if $user->loggedIn} {*uz sme vnutri, len pre prihlasenych *}


<div >    
    <h2>-Zmena hesla-</h2>
    <div>
        {control userFormPasswordEdit}
    </div>
</div>

<div >    
    <h2>Hodinova sadzba:</h2>
    <div>
        {control userFormHodinovaTaxa}
    </div>
</div>     
    
{/if}
{/block}